@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.top-100 {top: 100%}
.bottom-100 {bottom: 100%}
.max-h-select {
    max-height: 300px;
}


.span-cliente{
 margin-top: 45px;
}

.bg-black{
    background-color: #FB718B;
}

.bg-black:hover{
    background-color: #bf223f;
}

.bg-black:focus{
    background-color: #bf223f;
}



 .text-blue-600  {
    margin: 9%;
}

.inline-flex:hover{
    border-color: #bf223f;
}

.inline-flex:focus{
    border-color: #FB718B;
}
.inline-flex:active{
    border-color: #FB718B;
}

.border-indigo-400{
    border-color: #FB718B;
}

table {
    border-radius: 3%;

    
}

th {
    background-color: #FB718B;
    color: black;
}




input:hover {
border-color: #FB718B;
}

input:focus {
    border-color: #FB718B;
    }


