.titulo{
    text-transform: capitalize;
    margin: 1rem;
}

.centro {
    justify-content: center;
    text-align: center;
}

.botones{
    padding: 10px 10px;
    margin: 2%;
    border-radius: 5px;
    border-width: 1px;
    text-transform: uppercase;
}

.imprimir{
    background-color: #FB718B;
    font-weight: 100;
    border-color: #FB718B;
}

.imprimir:hover{
    background-color: #f9637f;
    font-weight: 100;
    color: white;
    border-color: #fff;
}

.imprimir:active{
    background-color: #d82c4c;
    font-weight: 100;
    color: white;
    border-color: #fff;
}

.guardar{
    background-color: #467ec2;
    font-weight: 100;
    border-color: #467ec2;
}

.guardar:hover{
    background-color: #296dc1;
    font-weight: 100;
    color: white;
    border-color: #fff;
}

.guardar:active{
    background-color: #0f67d3;
    font-weight: 100;
    color: white;
    border-color: #fff;
}


.spacebetween{
    display: flex;
    justify-content: space-around;
  }
.glossary {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .ternmino{
    width: 10%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
  }

  .definitiones {
    width: 10%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  .divideres {
    width: 100%;
    height: 2px;
    background-color: #ccc;
    margin-bottom: 20px;
  }

  .term {
    width: 10%;
    padding: 10px;
    background-color: #3498db; /* Azul */
    color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;

  }

  .definition {
    width: 48%;
    padding: 10px;
    background-color: #e91e63; /* Rosado */
    border-radius: 5px;
    margin-bottom: 20px;
  }

  .divider {
    width: 100%;
    height: 2px;
    background-color: #ccc;
    margin-bottom: 20px;
  }

table {
    border-style: solid;
    border: 5px;
    border-color: red;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    width: 80%;
    margin: 20px auto;
  }

  th, td {
    padding: 15px;
    text-align: center;

  }

  th {
    background-color: #3498db; /* Azul */
    color: #fff;

  }

  td.breakfast {
    background-color: #e91e63; /* Rosado */
    color: #fff;

  }

  td.lunch {
    background-color: #e91e63; /* Rosado */
    color: #fff;
  }

  td.dinner {
    background-color: #e91e63; /* Rosado */
    color: #fff;

  }

  @media only screen and (min-width:320px) and (max-width:1018px){
    .spacebetween{
        display: flex;
        justify-content: space-around;
        margin:  0 15% 0 15%;
    }
    .glossary {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }
    
      .term {
        width: 48%;
        padding: 10px;
        background-color: #3498db; /* Azul */
        color: #fff;
        border-radius: 5px;
        margin-bottom: 20px;
      }
    
      .definition {
        width: 48%;
        padding: 10px;
        background-color: #e91e63; /* Rosado */
        border-radius: 5px;
        margin-bottom: 20px;
      }
    
      .divider {
        width: 50%;
        height: 2px;
        background-color: #ccc;
        margin-bottom: 20px;
      }

      .ternmino{
        display: none;
        width: 10%;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 20px;
        text-align: center;
      }
    
      .definitiones {
        display: none;
        width: 10%;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 20px;
        text-transform: uppercase;
      }
    
      .divideres {
        display: none;
        width: 100%;
        height: 2px;
        background-color: #ccc;
        margin-bottom: 20px;
      }
    }